.header {
  font-weight: bold;
  background-color: #4438d8;
  display: flex;
  color: white;
  /* height: 4em; */
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.4em;
}

.header__text {
  margin: 0 0.3em;
  font-family: anton;
}

.header__text_accent {
  font-family: GandhiSans-Italic;
  font-style: italic;
  color: #e1f102;
  margin: 0;
}

.header__logo {
  height: 75%;
  max-width: 100px;
}

@media screen and (max-width: 900px) {
  .header {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 650px) {
  .header {
    font-size: 1rem;
  }

  .header__logo {
    display: none;
  }
}
