.faqs {
  display: flex;
  flex-direction: column;
  background-color: #aca6e4;
}

.faqs__container {
  display: flex;
  flex-direction: column;
}

.faqs__container_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.faqs__container_title {
  background-color: #05022b;
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  line-height: 1;
  align-items: center;
}

.faqs__container_text {
  grid-column: 1/3;
  padding: 1em 0;
}

.faqs__container_faqs {
  width: 70%;
  max-width: 1000px;
  align-self: flex-end;
  margin: 1em 10% 1em 0;
}

.faqs__title {
  font-size: 3.5rem;
  color: #e1f102;
  font-family: GandhiSans-BoldItalic;
  margin: 0 2rem 0 auto;
}

.faqs__title_accent {
  font-size: 2.2rem;
  color: white;
  font-family: anton;
  margin-right: 5rem;
}

.faqs__logo {
  width: 12em;
  margin: 0.5em 0 0 2em;
}

@media screen and (max-width: 1000px) {
  .faqs {
    position: relative;
  }

  .faqs__title {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
  }

  .faqs__title_accent {
    font-size: 1.7rem;
  }

  .faqs__logo {
    width: 9em;
    margin: 0.5em 0 0 2em;
  }
}

@media screen and (max-width: 600px) {
  .faqs__container_text {
    grid-column: 1/4;
    align-items: center;
  }

  .faqs__title {
    font-size: 2rem;
  }

  .faqs__title_accent {
    font-size: 1.5rem;
  }

  .faqs__logo {
    margin: 0.5em auto 1em;
    grid-column: 2/3;
  }

  .faqs__container_faqs {
    width: 90%;
    max-width: 1000px;
    align-self: flex-end;
    margin: 1em auto;
  }
}
