.form {
  display: flex;
  position: relative;
  flex-direction: column;
  background-image: url('../../../../assets/imgs/fondo-form.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 5% 3%;
  color: white;
  z-index: 0;
  align-items: center;
}

.form__container {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 3;
}

.form__container_top {
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.form__container_hook {
  position: relative;
  align-items: center;
}

.form__container_inputs {
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.form__container_btn {
  align-items: center;
}

.form__container_general {
  max-width: 1000px;
  width: 100%;
  align-items: center;
}

.form__container_checkbox {
  width: 70%;
  flex-direction: row;
  align-items: center;
  margin: 2em 0 0;
  cursor: pointer;
}

.form__form {
  position: relative;
  z-index: 3;
}

.form__btn {
  margin: 5% auto 7% auto;
  width: fit-content;
  padding: 0.3em 0.7em;
  font-size: 2.5rem;
  font-family: anton;
  background-color: transparent;
  color: white;
  border: 2px solid #e1f102;
  border-radius: 2em;
  text-decoration: none;
  background-color: #05022b;
}

.form__btn_inactive {
  background-color: gray;
  border: 2px solid white;
}

.form__logo {
  width: 13em;
  position: relative;
  z-index: 3;
  align-self: flex-start;
}

.form__cta {
  text-align: center;
  position: relative;
  z-index: 3;
}

.form__hook {
  font-family: GandhiSans-Italic;
  font-size: 2.5rem;
  font-weight: 300;
  width: 100%;
  text-align: center;
  line-height: 1.3;
}

.form__hook_accent {
  font-family: anton;
  color: #e1f102;
  font-style: normal;
  font-size: 3.5rem;
  z-index: 3;
}

.form__hook_shadow {
  position: absolute;
  color: #4438d8;
  z-index: 2;
  top: -0.5em;
  left: 3em;
  font-family: GandhiSans-BoldItalic;
  font-size: 5rem;
  width: fit-content;
}

.form__cta {
  margin: 0.3em auto 0.5em;
  color: #e1f102;
  font-family: GandhiSans-BoldItalic;
  font-size: 2.2rem;
}

.form__label {
  font-family: anton;
  font-size: 1.6rem;
  margin-bottom: 1em;
}

.form__input {
  border: 2px solid #e1f102;
  /* width: 15em; */
  width: 100%;
  font-size: 1.5rem;
  padding: 2%;
  border-radius: 0.5em;
}

.form__element {
  position: relative;
  margin: 0 3em;
}

.form__input_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* mix-blend-mode: color-dodge; */
  mix-blend-mode: exclusion;
  background-color: white;
}

.form__input:focus {
  outline: 6px groove #4438d8;
  transition: border 0.4s ease-in-out;
}

.form__input::placeholder {
  font-size: 1rem;
  color: rgb(170, 164, 164);
}

.form__label_checkbox {
  margin: 0 auto 0 0.5em;
  font-size: 1.2rem;
}

.form__info {
  padding: 1em 0 0;
  text-shadow: 1px 1px 2px #05022b;
  font-size: 1.8rem;
  text-align: center;
}

.form__link {
  color: #e1f102;
  margin-left: 0;
}

.form__credito-foto {
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 0.8rem;
}

.form__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* mix-blend-mode: exclusion; */
  /* mix-blend-mode: screen; */
  mix-blend-mode: soft-light;
  background-color: #05022b;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .form__hook {
    font-size: 1.5rem;
  }

  .form__hook_accent {
    font-size: 2.5rem;
  }

  .form__container_inputs {
    flex-direction: column;
  }

  .form__cta {
    font-size: 2rem;
  }

  .form__label {
    margin: 1em 0 0.5em;
    font-size: 1.3rem;
  }

  .form__hook_shadow {
    top: -0.5em;
    left: 5em;
  }

  .form__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .form__input {
    font-size: 1.2rem;
  }

  .form__btn {
    font-size: 1.5rem;
  }

  .form__logo {
    margin-bottom: 1em;
  }

  .form__container_checkbox {
    flex-direction: row;
    width: 90%;
    margin: 1em 0;
  }

  .form__label_checkbox {
    font-size: 1rem;
    margin: 0 0 0 1em;
  }

  .form__link {
    margin: 0;
  }

  .form__info {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 550px) {
  .form__logo {
    width: 6em;
    align-self: center;
  }

  .form__hook_shadow {
    font-size: 2.8rem;
    top: -0.5em;
    left: 0;
  }

  .form__credito-foto {
    font-size: 0.6rem;
  }

  .form__info {
    font-size: 1rem;
    text-align: center;
  }
}
