.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  background-image: url('../../../../assets/imgs/hero-registro-img.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 10% 3%;
  z-index: 1;
}

.hero__container {
  display: flex;
  margin: 0;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.hero__container_general {
  align-items: center;
  flex-direction: row;
}

.hero__title {
  font-size: 3rem;
  font-weight: 200;
  font-family: GandhiSans-Italic;
  color: white;
  margin: 0;
}

.hero__container_title-shadow {
  width: 50%;
}

.hero__container_title {
  margin-top: -4em;
}

.hero__title_accent {
  font-family: anton;
  color: #e1f102;
  font-size: 4rem;
}

.hero__title_shadow {
  color: #030166;
  font-style: italic;
  font-family: GandhiSans-BoldItalic;
  font-size: 7rem;
  margin-left: -0.1em;
}

.hero__disclaimer {
  font-size: 1rem;
}

.hero__logo {
  width: 40%;
  margin-top: -25%;
}

.hero__container_logo {
  display: flex;
  width: 50%;
  align-items: flex-end;
}

.hero__btn_registro {
  margin: 10% auto 7% auto;
  width: fit-content;
  padding: 0.3em 0.7em;
  font-size: 2rem;
  font-family: anton;
  background-color: transparent;
  color: white;
  border: 2px solid #e1f102;
  border-radius: 2em;
  text-decoration: none;
}

.hero__container_disclaimer {
  margin: 0;
  display: block;
}

.hero__logo_disclaimer {
  width: 15em;
}

.hero__disclaimer {
  color: white;
  font-size: 1.2rem;
}

.hero__container_arrow {
  width: 100%;
  display: flex;
  align-items: center;
}

.hero__arrow {
  width: 70%;
}

.hero__btn {
  position: relative;
  z-index: 2;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* mix-blend-mode: color-dodge; */
  mix-blend-mode: exclusion;
  background: rgb(5, 2, 43);
  background: linear-gradient(
    138deg,
    rgba(5, 2, 43, 1) 0%,
    rgba(68, 56, 216, 1) 120%
  );
}
