.venta {
  background-color: #e1f102;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.venta__title {
  font-size: 3rem;
  font-family: anton;
  color: #4438d8;
  margin: 0;
  padding: 1em 0 0.5em;
  font-weight: 500;
  position: relative;
  z-index: 2;
}

.venta__title_shadow {
  color: white;
  position: absolute;
  z-index: -1;
  top: -0.8em;
  right: -0.5em;
  font-family: GandhiSans-BoldItalic;
  font-size: 1.5em;
}

.venta__list {
  width: 75%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.venta__element {
  list-style-type: none;
  display: flex;
  margin: 2em 0;
  width: 90%;
}

.venta__text {
  font-size: 2rem;
  color: #383455;
}

.venta__list-vector {
  width: 2em;
  margin-right: 1em;
  position: relative;
  align-self: flex-start;
}

.venta__divition {
  height: 4px;
  background-color: #4438d8;
  width: 100%;
}

.venta__text_accent {
  font-family: GandhiSans-BoldItalic;
}

@media screen and (max-width: 1000px) {
  .venta__title {
    font-size: 2rem;
  }

  .venta__title_shadow {
    font-size: 1.5em;
  }

  .venta__text {
    font-size: 1.5rem;
  }

  .venta__list-vector {
    width: 1em;
  }
}

@media screen and (max-width: 500px) {
  .venta__title {
    font-size: 1.5rem;
  }

  .venta__title_shadow {
    top: -0.5em;
    right: -0.2em;
  }

  .venta__text {
    font-size: 1.2rem;
  }
}
