.header {
  font-weight: bold;
  background-color: #4438d8;
  position: relative;
  z-index: 8;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em;
  color: white;
}

.header__container_registro {
  justify-content: center;
}

.header__navbar {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
}

.header__navlink {
  width: fit-content;
  cursor: pointer;
}

.header__navlink::marker {
  font-size: 0;
}

.header__text {
  margin: 0 0.3em;
  font-family: anton;
  font-size: 1.5rem;
}

.header__text_accent {
  font-family: GandhiSans-Italic;
  font-style: italic;
  color: #e1f102;
  margin: 0;
}

.header__logo {
  height: 75%;
  max-width: 100px;
}

@media screen and (max-width: 900px) {
  .header__text {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 650px) {
  .header__text {
    font-size: 1rem;
  }

  .header__logo {
    display: none;
  }
  .header__navlink {
    font-size: 0.8em;
  }
}
