.host {
  display: flex;
  align-items: center;
  background-image: url('../../../../assets/imgs/fondo-host.webp');
  background-repeat: no-repeat;
  background-size: cover;
  color: #e1f102;
  position: relative;
  z-index: 0;
}

.host__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.host__person-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.host__container_hosts {
  width: 60%;
  margin: 1em 0 0;
}

.host__title {
  font-size: 4rem;
  margin: 0;
  font-family: GandhiSans-Italic;
  font-style: italic;
  width: 5em;
  text-align: center;
  line-height: 1em;
}

.host__title_accent {
  font-size: 2.5rem;
  color: white;
  font-style: normal;
  font-family: anton;
}

.host__container_people {
  flex-direction: row;
  justify-content: space-around;
  padding: 0 15%;
  margin-top: 1em;
}

.host__photo {
  width: 70%;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #4438d8;
}

.host__container_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}

.host__name {
  text-align: center;
  color: white;
  font-size: 1.7rem;
  font-family: anton;
}

.host__name_accent {
  font-family: GandhiSans-Italic;
  color: #aca6e4;
}

.host__container_quote {
  width: 40%;
  margin: 2em 0;
  position: absolute;
  right: 5em;
  top: 0;
  bottom: 0;
  justify-content: space-between;
}

.host__quote {
  font-size: 2.5rem;
  text-align: left;
  align-self: flex-start;
  width: 70%;
  font-family: GandhiSans-Italic;
}

.host__quote_author {
  align-self: flex-end;
  text-align: right;
}

.host__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* mix-blend-mode: color-dodge; */
  mix-blend-mode: exclusion;
  background: rgb(5, 2, 43);
  background: linear-gradient(
    138deg,
    rgba(5, 2, 43, 1) 40%,
    rgba(68, 56, 216, 1) 120%
  );
}
