.date {
  display: flex;
  padding: 1%;
  align-items: center;
  flex-direction: column;
  background-color: #aca6e4;
  position: relative;
}

.date__container {
  display: flex;
  flex-direction: column;
}

.date__title {
  text-align: center;
  font-size: 4rem;
  font-family: GandhiSans-Italic;
  font-style: italic;
  color: #05022b;
  font-weight: 550;
  position: relative;
  z-index: 2;
}

.date__container_counter {
  flex-direction: row;
  margin: 1em auto;
}

.date__date {
  font-family: anton;
  font-size: 2rem;
  color: white;
  text-shadow: 3px 3px 3px #05022b;
  position: relative;
  z-index: 2;
}

.date__element {
  margin: 0 0.5em;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date__container_gradient {
  display: flex;
  flex-direction: column;
  border-radius: 0.3em;
  width: fit-content;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 3px #05022b;
  z-index: 2;
}

.date__gradient {
  background: rgb(5, 2, 43);
  background: linear-gradient(
    0deg,
    rgba(5, 2, 43, 1) 0%,
    rgba(5, 2, 43, 1) 70%,
    rgba(68, 56, 216, 1) 100%
  );
  height: 1.5em;
  width: 3em;
}

.date__number {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: white;
  font-family: anton;
  margin: 0;
}

.date__label {
  color: #e1f102;
  text-shadow: 1px 1px 4px #05022b;
  font-family: anton;
  font-size: 0.8em;
  margin: 0.5em auto;
  text-align: center;
}

.date__vector {
  position: absolute;
  top: 3em;
  right: 6em;
  width: 8em;
  z-index: 1;
}

.date__text {
  font-family: anton;
  color: #e1f102;
  text-shadow: 3px 3px 3px #05022b;
  font-size: 4rem;
  margin: 0.5em 0;
}

@media screen and (max-width: 800px) {
  .date__element {
    font-size: 1.5rem;
  }

  .date__vector {
    font-size: 0.8rem;
    right: 3em;
  }
}

@media screen and (max-width: 550px) {
  .date__title {
    font-size: 3rem;
  }

  .date__date {
    font-size: 1.5rem;
  }

  .date__element {
    font-size: 1rem;
  }

  .date__vector {
    font-size: 0.5rem;
    right: 1em;
  }

  .date__text {
    font-size: 3rem;
  }
}
